@import '../../../../styles/index.scss';

.label {
  position: relative;
  font-family: $ui-font;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $gray-7;
  text-transform: uppercase;
  margin-left: 0.4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  .require {
    color: $dust-red;
    margin-right: 4px;
  }
  .optional {
    margin-left: 5px;
    font-family: $ui-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $gray-5;
  }
  .tooltip {
    &:hover {
      color: $gray-7;
    }
  }
  .tooltip-visible {
    position: absolute;
    background-color: $brand-blue;
    color: $white;
    border-color: black;
    border-radius: 15px;
    margin-left: -0.2rem;
    padding: 2rem;
    bottom: 20px;
  }
}
