@import '../../../../styles/newIndex.scss';

.leaderboard {
  // Layout
  flex-grow: 1;
  padding: 3rem 1.6rem;
  @include bp(tablet) {
    padding: 3rem 0 0;
  }

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

  // Design
  background-color: $brand-blue-7;

  h1 {
    // Layout
    margin-bottom: 1.6rem;

    // Design
    color: $white;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    font-family: $display-font;
  }

  .toggle {
    margin-bottom: 1.6rem;

    @include bp(tablet) {
      margin: 0 1.6rem 1.6rem;
    }
  }

  .table {
    @include bp(tablet) {
      .table-header,
      .table-body {
        border-radius: 0;
      }
    }

    .leaderboard-icon,
    .image-inner {
      height: 3.2rem;
      width: 3.2rem;
    }
    .table-cell:nth-of-type(4),
    .table-cell:nth-of-type(5) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .table-row {
      .table-cell:nth-of-type(1) {
        flex-grow: 1;
      }
      .table-cell:nth-of-type(2) {
        flex-grow: 5;
      }
      .table-cell:nth-of-type(3) {
        flex-grow: 2;
        justify-content: center;
      }
    }
  }

  .empty-leaderboard-message {
    flex-grow: 1;
    justify-self: stretch;
    padding: 2rem;
    background-color: $brand-orange-1;
    border-radius: 0 0 1.6rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .empty-leaderboard-message-container {
      border: 1px dashed $gray-5;
      border-radius: 1.6rem;
      padding: 2rem;

      h2 {
        font-family: $display-font;
        color: $gray-8;
        font-size: 1.4rem;
        line-height: 2.6rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2rem;
        color: $gray-8;
        font-family: $text-font;
        text-align: center;
      }
    }
  }
}
