@import '~/src/styles/newIndex.scss';

footer#main-footer {
  // Layout
  display: flex;
  flex-flow: row nowrap;

  padding: 1rem 2.5rem;

  // Design
  background-color: $brand-blue-6;

  // Typography
  color: $white;

  @import './nameAndPencil.scss';

  nav {
    // Stretches the `nav` element!
    flex-grow: 1;
  }
  @import './navItems.scss';
}
