@import '~/src/styles/newIndex.scss';

.submission-card {
  .image {
    display: none;
    @include bp(tablet) {
      display: flex;
      aspect-ratio: 1;
      z-index: -1;
    }
  }
  .submission-card-footer {
    // Layout
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;

    // Design
    background-color: $brand-orange;

    .sticker {
      &.read-me {
        cursor: pointer;
      }
    }

    .content-left {
      color: $white;
      h2 {
        font-family: $display-font;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.007rem;
      }
      h3 {
        font-family: $text-font;
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }
}
