@import '../../../../styles/newIndex.scss';

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0004;
  cursor: pointer;
  padding: 0 2rem;
  @include bp(tablet) {
    padding: 0 4rem;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  .modal {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: auto;
    cursor: auto;
    margin: 2rem auto;
    border-radius: 1.6rem;
    padding: 2rem;
    @include bp(tablet) {
      padding: 4rem;
    }
    background-color: #fff;

    border: 2px solid $brand-orange;
    text-align: center;

    .modal-close-button {
      $close-button-offset: -2rem;
      position: absolute;
      right: $close-button-offset;
      top: $close-button-offset;
      cursor: pointer;
      z-index: 20;
      height: 40px;
      width: 40px;

      transition: filter 0.05s ease-in;

      &:hover {
        filter: brightness(1.2);
        transition: filter 0.05s ease-in;
      }
    }
  }
}
