@import '../../../../styles/index.scss';

.login-form {
  @include safe-zone(420px);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  .server-error {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $text-font;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    .alt {
      color: $error;
    }
  }

  .form-input {
    margin-bottom: 1.6rem;
  }

  & > .button:last-of-type {
    margin-top: 2rem;
  }
}
