@import '../../../../styles/newIndex.scss';

// Default to mobile only showing (mobile-first)
.tablet-nav {
  display: none;
}
.mobile-nav {
  display: block;
  height: 0;
  overflow: visible;
  position: relative;

  // Design
  .spacer {
    height: 1px;
    margin: 0 1.6rem;
    background-color: $gray-0;
  }

  // Collapsing behavior
  &.collapsed {
    nav {
      display: none;
    }
  }

  nav {
    display: block;
    position: absolute;
    width: 100%;
    background-color: $brand-blue;

    ul {
      li {
        padding: 2rem;
        a {
          color: $white;
          font-family: $text-font;
          font-size: 1.8rem;
          line-height: 2.6rem;

          // Hide the icon in mobile nav
          svg {
            display: none;
          }
        }
      }
    }
  }
}
