@import '../../../../styles/newIndex.scss';

// Mobile should be hidden while tablet is visible
@include bp(tablet) {
  .mobile-nav {
    display: none;
  }
  .tablet-nav {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex-grow: 1;

    nav {
      ul {
        display: flex;
        flex-flow: row nowrap;
        li {
          color: $white;
          font-family: $text-font;
          font-size: 1.4rem;
          line-height: 2.2rem;
          &:not(:first-of-type) {
            margin-left: 2.5rem;
          }
          a {
            color: $white;
            font-family: $text-font;
            font-size: 1.4rem;
            line-height: 2.2rem;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
