@import '../../../../styles/newIndex.scss';

.tutorial-wrapper {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 17, 0.8);
  .tutorial-leaderboard {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    left: 5;
    position: absolute;
    .arrow {
      @include arrow();
    }
    .arrow-sideways {
      transform: rotate(90deg);
    }
    .dashboard-tutorial-content {
      @include tutorial-content();
      margin-right: 30px;
    }
  }
  .tutorial-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 30%);
    position: absolute;
    .arrow {
      @include arrow();
    }
    .arrow-flip {
      transform: rotate(180deg);
    }
    .dashboard-tutorial-content {
      @include tutorial-content();
      margin-bottom: 30px;
    }
  }
  .tutorial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .arrow {
      @include arrow();
    }
    .dashboard-tutorial-content {
      @include tutorial-content();
      margin-top: 30px;
    }
  }
  .tutorial-redo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .arrow {
    @include arrow();
  }
  .dashboard-tutorial-content {
    @include tutorial-content();
    margin-top: 30px;
  }
}
