@import '../../../../styles/newIndex.scss';

.tutorial-modal {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-family: $luckiest-guy;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 2rem;
  }
  p {
    font-family: $lato;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .button-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem 0rem 5rem;
    :nth-child(1) {
      margin-bottom: 2rem;
    }
  }
}
