@import '../../../../styles/newIndex.scss';

.timer {
  font-family: $text-font;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  .item {
    padding: 0.4rem 0.7rem;
    border-radius: 1.2rem;
    background-color: $brand-orange;
    color: $white;
  }
  .colon {
    color: $brand-orange;
  }
}
