@import '../../../../styles/newIndex.scss';

.clever-button {
  background-color: $white !important;
  border-color: $clever-blue !important;
  color: $clever-blue !important;

  &:hover {
    background-color: fade-out($clever-blue, 0.9) !important;
  }
  &:active {
    background-color: fade-out($clever-blue, 0.8) !important;
  }
  &:disabled {
    background-color: $gray-1 !important;
    color: $gray-4 !important;
    border-color: $gray-4 !important;

    // The image contrast wasx too dark, needed to brighten up when disabled and gray
    img {
      -webkit-filter: grayscale(100%) brightness(130%);
      filter: grayscale(100%) brightness(130%);
    }
  }

  img {
    height: 2.5rem;
    aspect-ratio: 1;
    margin-right: 1rem;
  }
}
