// Set box-sizing globally for consisten behavior
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
// Set the app container to fill the screen
html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

// Variables
$text-font: 'Source Sans Pro', sans-serif;
$display-font: 'Bangers', sans-serif;

// Colors
$turquoise: #6ceae6;
$conifer: #b5d33d;
$burnt-sienna: #eb7d5b;
$bright-sun: #fed23f;
$boston-blue: #429cb5;

$header-height: 10vh;
$body-height: 100vh - $header-height;
