// Set box-sizing globally for consisten behavior
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 100%;
}
// Set the app container to fill the screen
html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

// Variables
$text-font: 'Oswald', sans-serif;
$display-font: 'Bangers', sans-serif;

// Media Query Sizes
$mid: 500px;
$tablet: 650px;
$large: 800px;

// NEW COLORS
$blue: #3884ff;
$orange: #f66700;
$jade: #00b67d;
$seafoam: #34c9ad;
$dark-blue: #40537f;
$white: #ffffff;
$charcoal: #343434;
$red: #f64141;
$ltblue: #85c7f2;
$bright-blue: #2462d9;

.App > div {
  min-height: 100vh;
  background-color: $dark-blue;
  display: flex;
  flex-flow: column nowrap;
}
