// Set box-sizing globally for consisten behavior
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
// Set the app container to fill the screen
html,
body,
#root {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

// Variables
$text-font: 'Oswald', sans-serif;
$display-font: 'Bangers', sans-serif;

// Media Query Sizes
$mid: 500px;
$tablet: 650px;

// NEW COLORS
$blue: #3884ff;
$orange: #f66700;
$jade: #00b67d;
$dark-blue: #40537f;
$white: #ffffff;
$charcoal: #343434;
$red: #f64141;
$ltblue: #85c7f2;

// Colors
$turquoise: #6ceae6;
$conifer: #b5d33d;
$burnt-sienna: #eb7d5b;
$bright-sun: #fed23f;
$boston-blue: #429cb5;

// Global Formatting
$header-height: 10vh;
$body-height: 100vh - $header-height;
$sidebar-width: 25vw;
