// Import CSS Reset First
@import './reset.css';

// Import Global Variables/Mixins
@import './globals.scss';
@import './mixins.scss';

// Google Font Imports
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Sans+Pro:wght@400;500;600;700;900&display=swap');

// Component Stylesheets
@import './components/pages/landingPage.scss';
@import './components/pages/dashboard.scss';

// Common Components
@import './components/common/modal.scss';
@import './components/common/header.scss';
