@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin input-field {
  border: 1px solid #000;
  padding: 2vh 2vw;
  border-radius: 5px;
  color: #000;
  font-family: $text-font;
  @include placeholder(#999);
}

@mixin button($bgcolor, $font-color, $border-width: 0, $border-color: #000) {
  padding: 2vh 2vw;
  color: $font-color;
  background-color: $bgcolor;
  cursor: pointer;
  border: $border-width solid $border-color;
  border-radius: 5px;
  font-family: $text-font;
  &:hover {
    background-color: darken($bgcolor, 5%);
  }
}

@mixin hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display:none;
  }
}