@mixin hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin drop-shadow($style: 0 2px 6px #0000001a) {
  box-shadow: $style;
  -moz-box-shadow: $style;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin safe-zone($width: 700px) {
  width: 100%;
  max-width: $width;
  margin: 0 auto;
}
