@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin input-field {
  border: 1px solid #000;
  padding: 2vh 2vw;
  border-radius: 5px;
  color: #000;
  font-family: $text-font;
  @include placeholder(#999);
}

@mixin button(
  $bgcolor,
  $font-color,
  $padding: 1vh 2vw,
  $border-width: 0,
  $border-color: #000
) {
  padding: $padding;
  color: $font-color;
  background-color: $bgcolor;
  cursor: pointer;
  border: $border-width solid $border-color;
  border-radius: 5px;
  font-family: $text-font;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($bgcolor, 7.5%);
    transition: all 0.2s ease-in-out;
  }
}

@mixin text-button($color, $darken-amt: 15%, $shadow-color: #666) {
  color: $color;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in;
  &:active,
  &:hover {
    color: darken($color, $darken-amt);
    text-shadow: 0 0 2px $shadow-color;
    transition: all 0.25s ease-in;
  }
}

@mixin hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin paragraph($size: 1rem) {
  font-family: $text-font;
  font-size: $size;
  line-height: $size + 1rem;
}
