@mixin hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin drop-shadow($style: 0 2px 6px #0000001a) {
  box-shadow: $style;
  -moz-box-shadow: $style;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin safe-zone($width: 1000px) {
  width: 100%;
  max-width: $width;
  margin: 0 auto;
}

@mixin arrow() {
  z-index: 4;
  animation: bounce 1s infinite;
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@mixin tutorial-content() {
  @media (min-width: $tablet) {
    width: 324px;
  }
  border: 2px solid $brand-orange;
  padding: 32px;
  border-radius: 16px;
  z-index: 3;
  width: 80%;
  padding: 20px 0px;
  margin: auto;
  opacity: 1;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: $lato;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 2rem;
  }
}
