@import '../../../../styles/newIndex.scss';

section.voting-wrapper {
  background-color: $brand-blue-0;

  .voting-container {
    padding: 1.6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.6rem;
    @include bp(tablet) {
      gap: 3rem;
      padding: 5rem 1.6rem;
    }
    @include safe-zone();
    & > h2,
    & > h3 {
      font-family: $display-font;
      font-size: 2.4rem;
      line-height: 2.6rem;
      text-align: center;
    }
    & > h2 {
      color: $brand-blue-6;
    }
    & > h3 {
      color: $gray-7;
    }
    .active-tutorial {
      z-index: 4;
      border-radius: 15px;
    }
    .instruction-card-list {
      .instruction-card {
        display: none;
        &.active {
          display: flex;
        }
        &.complete:nth-of-type(3) {
          /* 
          This is important! When all 3 steps are complete,
          the cards all dissappear. This makes it so that the
          third card will still be visible after the user
          submits their votes successfully.
          */
          display: flex;
        }

        @include bp(tablet) {
          display: flex;
          padding: 2rem;
        }
      }
    }

    .error-message {
      font-family: $ui-font;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $gray-9;
      text-align: center;

      .red {
        color: $error;
      }
    }

    .button-row {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: center;
      gap: 1rem;
      @include bp(tablet) {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}
