.profile-page {
  @import './profileNav.scss';
  @import './editProfile.scss';
  @import './gallery.scss';

  padding: 2rem 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .user-info {
    background-color: $white;
    font-family: $text-font;
    padding: 1rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: $charcoal;
    @include drop-shadow;
    width: 300px;
    max-width: 100%;
    em {
      display: inline-block;
      width: 2rem;
    }
    h2 {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    h3 {
      font-weight: 300;
    }
  }
}
