.profile-nav {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1.5rem;

  span {
    cursor: pointer;
    text-shadow: 0 2px 2px #0006;
    font-size: 2rem;
    font-family: $display-font;
    color: #fffa;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $white;
      transition: color 0.15s ease-in-out;
    }
    &.active {
      color: $orange;
      text-decoration: underline;
    }
  }
}
