.profile-nav {
  width: 100%;
  // Not kosher but i had trouble making sure the nav was the same height
  // when either the gallery or the account were active
  min-height: 25px;
  max-height: 25px;

  // Flex the profile nav wrapper
  display: flex;
  flex-direction: row;
  justify-content: center;

  // Tablet styling for the profile-nav wrapper
  @media screen and (min-width: $tablet) {
    min-height: 40px;
  }

  // Styling for the two span "buttons" inside the profile nav wrapper
  span {
    width: 50%;
    font-family: $text-font;
    font-weight: 500;
    color: $white;
    text-decoration: none;
    background-color: $orange;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    border-top: 1px solid #0003;

    cursor: pointer;

    // Identify which active tab we are on when a user navigates through their profile
    &.active {
      text-decoration: underline;
    }

    // Tablet styling for the profile-nav-span(s)
    @media screen and (min-width: $tablet) {
      font-size: 2rem;
      padding-top: 1rem;
    }
  }
}
