@import '~/src/styles/newIndex.scss';

footer#main-footer {
  // Layout
  display: flex;
  flex-flow: row nowrap;

  padding: 2rem;

  // Design
  background-color: $brand-blue;

  // Typography
  color: $white;
}
