.auth-form {
  // Login/Signup Forms
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  @media screen and (min-width: $large) {
    flex-direction: column-reverse;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    img {
      width: 450px;
    }

    p {
      margin: 3rem auto;
      font-family: $text-font;
      color: $white;
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;
      line-height: 2.5rem;
      cursor: default;
    }

    .dragon-boi {
      @mixin dragon-size {
        display: none;
        @media screen and (min-width: $tablet) {
          display: block;
          max-height: 130px;
          max-width: 160px;
        }
        @media screen and (min-width: $large) {
          max-height: 180px;
          max-width: 200px;
        }
      }
      @include dragon-size;
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      .dragon {
        @include dragon-size;
      }
      .login-dragon {
        padding-top: 1.5rem;
      }
    }

    .inputs {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $large) {
        justify-content: space-evenly;
        align-items: flex-start;
      }

      .codename-input,
      & > .form-input {
        width: 350px;
        padding: 0 1rem;

        @media screen and (min-width: $tablet) {
          width: 50%;
        }

        @media screen and (min-width: $large) {
          width: 33%;
        }
      }

      .codename-input {
        position: relative;
        svg {
          position: absolute;
          top: 0;
          right: 1rem;
          color: $white;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }

    .server-error {
      color: $red;
      font-family: $display-font;
      text-shadow: 0 4px 4px #0005;
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }

    .text {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      color: $white;
      font-family: $text-font;
      margin: 0 0 2rem;
      line-height: 2rem;
    }
    .checkbox {
      margin-bottom: 1rem;
    }

    .text-button {
      color: $white;
      transition: all 0.15s ease-in;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: darken($white, 15%);
        transition: all 0.15s ease-in;
      }
    }

    input[type='submit'] {
      @include button($orange);
      margin: 1rem auto 3rem;
      font-size: 2.4rem;
      &.login {
        margin-top: 6rem;
      }
    }
  }

  // Modal for Signup
  .modal-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
      color: $charcoal;
      margin-top: 0;
    }
    button {
      @include button($orange);
      margin: 0 auto;
    }
  }
}
