.auth-switcher {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;

  @media screen and (min-width: $tablet) {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  span {
    width: 50%;
    text-align: center;
    color: #fffa;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $white;
      transition: color 0.15s ease-in-out;
    }
    cursor: pointer;
    text-shadow: 0 2px 2px #0006;
    font-size: 2rem;
    font-family: $display-font;
    &.active {
      color: $orange;
      text-decoration: underline;
    }
  }
}
