.signup-success {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  p {
    font-family: $text-font;
    color: $white;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    &:last-of-type {
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
  button {
    @include button($orange);
  }
}
