.signout-confirmation {
  p {
    color: $white;
    font-family: $text-font;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 2px #0009;
  }

  .button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    button {
      $padding: 0.75rem 3rem;
      @include button($jade, $padding: $padding);
      font-size: 1.8rem;

      &.no-button {
        @include button($red, $padding: $padding);
        font-size: 1.8rem;
      }
    }
  }
}
