.image {
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  aspect-ratio: 1;

  &.can-preview {
    cursor: pointer;
    transition: all 0.15s ease-in;
    &:hover {
      transition: all 0.15s ease-out;
      transform: scale(1.05);
    }
  }

  .image-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;

    &.rotate-180 {
      transform: rotate(-180deg);
    }
    &.rotate-90 {
      transform: rotate(-90deg);
    }
    &.rotate-270 {
      transform: rotate(-270deg);
    }
  }
}
