.celebration {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: $lt-orange;

  .thought-bubble {
    margin-bottom: 1rem;

    .winner-bubble {
      font-family: $display-font;
      text-align: center;
      h3 {
        font-size: 1.4rem;
        color: $charcoal;
      }
      h2 {
        font-size: 2rem;
        color: $jade;
        margin: 0.5rem 0;
      }
      .flames {
        font-size: 1.6rem;
      }
    }
  }

  .bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .dragon {
      width: 50%;
    }
    .sub-card {
      margin-left: 2rem;
      width: 50%;
    }
  }
}
