.could-not-load {
  padding: 2rem;
  @include drop-shadow;
  overflow: hidden;
  color: $white;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 2px #0006;

  .message {
    font-family: $display-font;
    font-size: 2.4rem;
  }
  p {
    font-family: $text-font;
    font-size: 1.6rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 300;
  }
}
