.results-page {
  padding: 2rem;

  @media screen and (min-width: $tablet) {
    margin: 0 10%;
  }

  img {
    margin-bottom: 2rem;
  }

  .could-not-load {
    max-width: 100%;
    margin: 0 auto 2rem;
    background-color: $jade;
    padding: 2rem;
    @include drop-shadow;
    overflow: hidden;
    color: $white;
    text-align: center;

    @media screen and (min-width: $tablet) {
      max-width: 60vw;
    }
    .message {
      font-family: $display-font;
      font-size: 2.4rem;
    }
    p {
      font-family: $text-font;
      font-size: 1.6rem;
      line-height: 2rem;
      font-style: italic;
      font-weight: 300;
    }
  }

  .celebration {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 3rem;
    background-color: $seafoam;
    border-radius: 5px;
    @include drop-shadow;

    .thought-bubble {
      margin-bottom: 1rem;

      .winner-bubble {
        font-family: $display-font;
        text-align: center;
        h3 {
          font-size: 1.8rem;
          color: $blue;
          margin-bottom: 0.5rem;
        }
        h2 {
          font-size: 2.4rem;
          color: $orange;
          margin-bottom: 0.5rem;
        }
        @media screen and (min-width: $mid) {
          h3 {
            font-size: 2.4rem;
          }
          h2 {
            font-size: 3.2rem;
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex-flow: row nowrap;
      .dragon {
        width: 60%;
        img {
          width: 100%;
        }
      }
      .sub {
        width: 38%;
        padding: 4rem 2rem 2rem;
        margin-left: 2%;
      }
    }
  }
}
