.results-page {
  padding: 2rem;

  @media screen and (min-width: $tablet) {
    margin: 0 10%;
  }

  .celebration {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 3rem;
    background-color: $seafoam;
    border-radius: 5px;
    @include drop-shadow;

    .thought-bubble {
      margin-bottom: 1rem;

      .winner-bubble {
        font-family: $display-font;
        text-align: center;
        h3 {
          font-size: 1.8rem;
          color: $blue;
          margin-bottom: 0.5rem;
        }
        h2 {
          font-size: 2.4rem;
          color: $orange;
          margin-bottom: 0.5rem;
        }
        @media screen and (min-width: $mid) {
          h3 {
            font-size: 2.4rem;
          }
          h2 {
            font-size: 3.2rem;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-flow: row nowrap;
      .dragon {
        width: 60%;
        img {
          width: 100%;
        }
      }
      .sub-card {
        width: 38%;
        margin-left: 2%;
      }
    }
  }
}
