@import '../../../../styles/newIndex.scss';

$toggle-color: $brand-orange;

.toggle {
  // Layout
  position: relative;

  // Design
  background-color: $white;
  border: 1px solid $toggle-color;
  border-radius: 1.6rem;
  cursor: pointer;

  // Styles the colored block that slides
  .toggle-block {
    // Layout
    height: calc(100% + 1px);
    width: calc(50% + 1px);

    // Design
    padding: 0.8rem;
    background-color: $toggle-color;
    border: 1px solid $toggle-color;
    border-radius: 1.6rem;

    // Transition effect!
    position: absolute;
    z-index: 0;
    left: 50%;

    // HACK for SURE but that 1px makes all the difference for some reason
    margin-right: -2px;
    margin-top: -1px;
    margin-left: unset;
    transition: left 0.15s ease-in-out;
    &.leftSelected {
      margin-right: unset;
      margin-left: -1px;
      left: 0;
      transition: left 0.15s ease-in-out;
    }
  }

  .toggle-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    .toggle-item {
      // Design
      width: calc(50% + 1px);
      padding: 0.8rem;

      // Font Styling
      font-family: $text-font;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.08rem;

      // Color transition for selection
      color: $toggle-color;
      transition: color 0.15s ease-in-out;
      &.selected {
        color: $white;
        transition: color 0.15s ease-in-out;
      }
    }
  }
}
