@import '../../../../styles/newIndex.scss';

.my-submissions-view {
  .submission-card .image {
    // Override image hiding on mobile
    display: flex;
  }

  .my-submissions {
    flex-grow: 1;
    padding: 2rem;
    background-color: $brand-blue-0;
    > h2 {
      text-align: center;
      font-family: $display-font;
      color: $brand-blue-7;
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}
