.auth-modal {
  .auth-switcher {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    @media screen and (min-width: $tablet) {
      max-width: 500px;
      margin: 0 auto 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $white;
    }

    span {
      font-size: 2rem;
      @include text-button($white);
      font-family: $text-font;
      &.active {
        @include text-button($orange);
      }
    }
  }
}
