.checkbox {
  font-family: $text-font;
  color: $white;
  position: relative;

  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.4rem;
    z-index: 5;
    padding: 0.5rem 0 1.5rem;
  }

  .message {
    z-index: 1;
    position: relative;
    bottom: 1.1rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 300;
    width: 100%;
    opacity: 0;
    letter-spacing: 0.06rem;
    text-align: center;
    .red {
      color: $red;
    }
  }

  &.error {
    .message {
      transition: all 0.3s ease-in;
      opacity: 1;
    }
  }
}
