.countdown-closed-component {
  padding: 2rem;
  background-color: $white;
  margin: 1rem auto;
  max-width: 400px;
  @include drop-shadow;
  text-align: center;
  border: 3px solid $red;

  h2 {
    color: $jade;
    font-size: 2.4rem;
    font-family: $display-font;
    margin-bottom: 1rem;
  }
  p {
    color: black;
    @include paragraph(2rem);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .countdown {
      color: $red;
      font-family: $display-font;
      display: inline-block;
      width: 6.5rem;
    }

    .alt {
      color: $jade;
      font-weight: 500;
    }
  }
}
