.info-hover-tip {
  position: absolute;
  width: 2rem;
  height: 2rem;

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    top: 2.5rem;
    display: none;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    color: black;
    background-color: #ffffffd9;
    font-family: $text-font;
    line-height: 2.2rem;
    max-width: unset;
    border: 1px solid black;
    border-radius: 5px;
    @include drop-shadow;
    width: 50vw;
    &.left {
      right: 0;
    }
    &.right {
      left: 0;
    }
    &.center {
      right: -25vw;
    }
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}
