.scoreboard {
  .scoreboard-header-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $white;
    background-color: $orange;
    .scoreboard-header {
      width: 33%;
      text-align: center;
      font-family: $display-font;
      color: $white;
      font-size: 2rem;
      padding: 1rem;
      &:not(:last-of-type) {
        border-right: 1px solid $white;
      }
    }
  }
  .scoreboard-body {
    display: flex;
    flex-flow: column nowrap;

    .scoreboard-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid $white;
      &:nth-child(even) {
        background-color: #ccc3;
      }

      .row-col {
        width: 33%;
        text-align: center;
        font-family: $text-font;
        color: $white;
        font-size: 1.4rem;
        padding: 1rem;
        &:not(:last-of-type) {
          border-right: 1px solid $white;
        }
      }
    }
  }
}
