.sub-card {
  max-width: 100%;
  @include drop-shadow;
  display: flex;
  position: relative;
  height: 10rem;
  max-width: 10rem;

  background-size: cover;
  background-position: top center;

  & > svg {
    opacity: 0.65;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    cursor: pointer;
    border-radius: 5px;

    padding: 0.6rem;
    height: 2.8rem;
    width: 2.8rem;

    @media screen and (min-width: $tablet) {
      padding: 0.8rem;
      height: 3.6rem;
      width: 3.6rem;
    }

    background-color: #0005;
    color: #fffc;

    transition: all 0.3s ease-in;
    &:hover {
      opacity: 1;
      transition: all 0.3s ease-in;
    }
  }

  .modal {
    .modal-image {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      img {
        margin-top: 1rem;
        height: unset !important;
        width: unset !important;
        max-width: 100% !important;
      }
    }
  }
}
