.sub-card {
  max-width: 100%;
  box-shadow: 0 0 5px #333;
  display: flex;
  border: 1px solid black;
  position: relative;

  img {
    max-width: 100%;
  }

  & > svg {
    opacity: 0.35;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    padding: 0.6rem;
    height: 2.8rem;
    width: 2.8rem;

    @media screen and (min-width: $mid) {
      padding: 0.8rem;
      height: 3.6rem;
      width: 3.6rem;
    }

    transition: all 0.3s ease-in;
    &:hover {
      opacity: 1;
      transition: all 0.3s ease-in;
    }
  }

  .modal {
    cursor: auto;
    .modal-image {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      img {
        margin-top: 1rem;
        height: unset !important;
        width: unset !important;
        max-width: 100% !important;
      }
    }
  }
}
