@import './sidebar.scss';
@import './promptBox.scss';

.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @media screen and (min-width: $large) {
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .content {
    flex-grow: 1;
    padding: 2rem;

    @media screen and (min-width: $large) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
