@import './sidebar.scss';
@import './promptBox.scss';
@import './submissionForm.scss';

.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @media screen and (min-width: $tablet) {
    flex-flow: row nowrap;
    align-items: stretch;
    img {
      display: block;
    }
    .sidebar {
      order: 2;
    }
  }

  .content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;

    img {
      margin-bottom: 3rem;
      display: none;
      @media screen and (min-width: $tablet) {
        display: block;
      }
    }

    .prompt-box {
      margin-bottom: 4rem;
    }
  }
}
