.prompt-box {
  @include word-wrap();
  background-color: $white;
  padding: 2rem;
  color: $charcoal;
  box-shadow: 0 4px 4px #000;
  max-width: 60rem;
  margin: 0 auto;

  h2 {
    color: $orange;
    font-size: 3.6rem;
    font-family: $display-font;
    margin-bottom: 2rem;
  }

  h3 {
    font-family: $display-font;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    @include paragraph(1.8rem);
    margin: 0 1rem;
    text-align: center;
  }

  .prompt-footer {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .streak {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      h3 {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
    button {
      @include button($blue);
      font-size: 2.4rem;
    }
  }
}
