.sidebar {
  display: flex;
  flex-flow: column nowrap;
  background-color: $seafoam;

  @media screen and (min-width: $large) {
    order: 2;
    overflow-y: scroll;
  }

  h2 {
    font-family: $display-font;
    color: $white;
    font-size: 2.4rem;
    padding: 1rem 2rem 0;
    text-align: center;
  }

  .story-list {
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 2rem 2rem;
    padding-right: 6rem;

    @media screen and (min-width: $large) {
      padding: 2rem 3.5rem;
    }

    @media screen and (min-width: $large) {
      flex-flow: column nowrap;
      overflow-x: unset;
    }

    .sub-card {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      @media screen and (min-width: $large) {
        margin-right: 0 !important;
        margin-bottom: 3rem;
      }

      img {
        width: 10rem;
        max-width: unset;

        @media screen and (min-width: $large) {
          width: 17.5rem;
          max-width: 100%;
        }
      }
    }
  }
}
