.sidebar {
  display: flex;
  flex-flow: column nowrap;
  background-color: $seafoam;

  h2 {
    font-family: $display-font;
    color: $white;
    font-size: 3.2rem;
    padding: 2rem 2rem 0;
    text-align: center;
    text-shadow: 0 2px 2px #0005;
  }

  .story-list {
    min-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    overflow-x: scroll;
    padding: 2rem 2rem;

    @media screen and (min-width: $tablet) {
      flex-flow: column nowrap;
      overflow-x: unset;
    }

    .sub-card {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      @media screen and (min-width: $tablet) {
        margin-right: 0 !important;
        margin-bottom: 3rem;
      }

      img {
        width: 10rem;
        max-width: unset;

        @media screen and (min-width: $tablet) {
          width: 17.5rem;
          max-width: 100%;
        }
      }
    }
  }

  & div:not(.story-list) {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .coming-soon p {
      font-size: 1.8rem;
    }
  }
}
