@import '../../../../styles/newIndex.scss';

.winners-dashboard {
  .dashboard-content-container {
    background-color: $brand-blue-9;
  }

  .submission-card .image {
    // Override hidden images on mobile
    display: flex;
  }

  .past-winners-list {
    flex-grow: 1;
    padding: 4rem 2rem;
    background-color: $brand-blue-0;
    > h2 {
      text-align: center;
      font-family: $display-font;
      color: $brand-blue-6;
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }

  .winners-two-col {
    background-color: $brand-blue-9;
    .big-winner {
      padding: 2rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: space-around;
      gap: 2rem;

      flex-grow: 1;
      background-color: $gray-9;

      .winner-content {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        h2 {
          text-align: center;
          font-size: 2.4rem;
          line-height: 2.6rem;
          color: $lime-green;
          font-family: $display-font;
        }
        p {
          font-family: $text-font;
          color: $white;
          font-size: 1.6rem;
          text-align: center;
          line-height: 2.4rem;
        }
      }

      .submission-card .image {
        // Override hidden images on mobile
        display: flex;
      }
    }
  }
}
