$carousel-height: 40vh;

.carousel {
  width: 100%;
  height: $carousel-height;

  .carousel-main {
    width: 100%;
    height: $carousel-height;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    .left,
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vw;

      svg {
        width: 5vw;
      }
    }

    .carousel-content {
      overflow: hidden;
      position: relative;
      height: $carousel-height;
      flex-grow: 2;

      @import './carouselCard.scss';
      .carousel-card {
        & > div {
          height: $carousel-height;
          width: 100%;
        }
      }
    }
  }
}
