.dragon-bank {
  width: 80%;
  max-width: 545px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 3rem auto;

  @media screen and (min-width: $tablet) {
    padding: 2rem;
    background-color: $seafoam;
    border-radius: 5px;
    @include drop-shadow;
  }

  .draggable-dragon {
    display: flex;
    outline: none;
    max-width: 150px;

    img {
      width: 100%;
    }
  }
}
