.drop-bank,
.dragon-bank {
  .drop-zone {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    //border: 3px dashed red;
    transition: all 0.3s ease-in-out;
  }
  .drag-from {
    background-color: $ltblue;
  }
  .drag-over {
    background-color: $lt-orange;
  }
}
.dragon-bank {
  .drop-zone {
    width: 32%;
  }
}
