.drop-bank {
  width: 80%;
  max-width: 545px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 2rem auto;
  @media screen and (min-width: $tablet) {
    padding: 3rem 3rem 1rem;
    background-color: $seafoam;
    border-radius: 5px;
    @include drop-shadow;
  }

  .voting-item {
    width: 100%;
    max-width: 150px;

    .sub-info {
      p {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-family: $display-font;
        text-align: center;
        color: $white;
        @media screen and (min-width: $tablet) {
          font-size: 1.8rem;
        }

        .alt {
          color: $jade;
          @media screen and (min-width: $tablet) {
            color: $bright-blue;
          }
        }

        @media screen and (min-width: $tablet) {
          margin-top: 1rem;
        }
      }
    }
  }
  .draggable-dragon {
    display: flex;
    position: absolute;
    top: 1.5rem;
    max-width: 150px;
  }
}
