.drop-bank {
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: $seafoam;
    border-radius: 5px;
    @include drop-shadow;
  }

  .drop-container {
    border-radius: 16px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 2rem;

    @media screen and (min-width: $tablet) {
      flex-flow: column nowrap;
      background: unset !important;
      width: 33%;
    }

    // This handles the backgrounds on the mobile view
    background-color: #fff9;
    &.active {
      &:nth-child(1) {
        background: linear-gradient(
          180deg,
          #ffd43c 19.27%,
          #ff8f28 51.56%,
          #ffd43c 79.17%
        );
      }
      &:nth-child(2) {
        background: linear-gradient(
          180deg,
          #dddcdc 0%,
          #8d8989 51.56%,
          #dddcdc 100%
        );
      }
      &:nth-child(3) {
        background: linear-gradient(
          180deg,
          #ffda79 0%,
          #9d7100 51.04%,
          #ffda79 100%
        );
      }
    }

    p {
      color: $dark-blue;
      font-family: $display-font;
      font-size: 2.4rem;
      text-decoration: underline;

      @media screen and (min-width: $tablet) {
        color: $white;
        text-decoration: none;
      }
    }

    img {
      width: 50%;
      @media screen and (min-width: $tablet) {
        width: 100%;
      }
    }
  }
}
