.drop-bank,
.dragon-bank {
  .drop-zone {
    position: relative;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .drag-from {
    background-color: $ltblue;
  }
  .drag-over {
    background-color: $lt-orange;
  }
}

.dragon-bank .drop-zone {
  width: 33%;
}

.drop-bank .drop-zone {
  padding: 0.5rem;
}
