.read-top-3 {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto;

  @media screen and (min-width: $tablet) {
    background-color: $jade;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    margin: 3rem auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px #0005;
    -moz-box-shadow: 0 4px 4px #0005;
  }

  @media screen and (min-width: $large) {
    width: 80%;
    padding: 4rem;
  }

  .submission-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 2rem;
    position: relative;

    @media screen and (min-width: $mid) {
      align-items: stretch;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      flex-flow: column nowrap;
      align-items: center;
      &:not(:last-of-type) {
        margin-right: 2rem;
        @media screen and (min-width: $large) {
          margin-right: 3.2rem;
        }
      }
    }

    .check {
      background-color: #fffc;
      border: 1px solid #000;
      position: absolute;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      top: 0.8rem;
      left: 0.8rem;
      height: 2rem;
      width: 2rem;
      svg {
        width: 1.4rem;
        height: 1.4rem;
        display: none;
      }
      &.finished svg {
        display: block;
      }

      @media screen and (min-width: $mid) {
        top: 1rem;
        left: 1rem;
        height: 2.8rem;
        width: 2.8rem;
        svg {
          width: 2rem;
          height: 2rem;
          display: none;
        }
      }
    }

    .sub-card {
      margin-right: 1rem;
      max-width: 40%;

      @media screen and (min-width: $tablet) {
        max-width: 100%;
        margin-right: 0;
      }
    }

    .sub-info {
      flex-grow: 1;

      @media screen and (min-width: $mid) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      @media screen and (min-width: $tablet) {
        text-align: center;
      }

      p {
        font-family: $display-font;
        font-size: 2.4rem;
        color: $white;
        margin: 1rem 0;
        .alt {
          color: $seafoam;
          @media screen and (min-width: $tablet) {
            color: $orange;
            text-shadow: 0 2px 2px #0005;
          }
        }

        @media screen and (min-width: $tablet) {
          margin: 1.6rem 0 0;
        }
      }
    }
  }
}
