.read-top-3 {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto;

  @media screen and (min-width: $tablet) {
    background-color: $jade;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    margin: 3rem auto;
  }

  @media screen and (min-width: $large) {
    width: 80%;
    padding: 4rem;
  }

  .submission-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 2rem;

    @media screen and (min-width: $mid) {
      align-items: stretch;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      flex-flow: column nowrap;
      align-items: center;
      &:not(:last-of-type) {
        margin-right: 2rem;
        @media screen and (min-width: $large) {
          margin-right: 3.2rem;
        }
      }
    }

    .sub-card {
      margin-right: 1rem;
      max-width: 40%;

      @media screen and (min-width: $tablet) {
        max-width: 100%;
        margin-right: 0;
      }
    }

    .sub-info {
      flex-grow: 1;

      @media screen and (min-width: $mid) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      @media screen and (min-width: $tablet) {
        text-align: center;
      }

      p {
        font-family: $display-font;
        font-size: 2.4rem;
        color: $white;
        margin: 1rem 0;
        .alt {
          color: $seafoam;
          @media screen and (min-width: $tablet) {
            color: $orange;
            text-shadow: 0 2px 2px #0009;
          }
        }

        @media screen and (min-width: $tablet) {
          margin: 1.6rem 0 0;
        }
      }
    }
  }
}
