.modal-wrapper .modal.bonus {
  // background-color: $ltblue;
}
.secret-bonus {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 0 2rem;

  img {
    width: 1000px;
    max-width: 80vw;
    margin-bottom: 2rem;
  }

  p {
    color: #000;
    text-align: center;

    &:first-of-type {
      color: $orange;
      font-family: $display-font;
      font-size: 3.6rem;
      margin-bottom: 1rem;
      line-height: 3.8rem;
    }

    &.prompt {
      font-family: $text-font;
      font-size: 2.4rem;
      padding: 0 5%;
      line-height: 3.6rem;
      margin-bottom: 4rem;
    }

    &.timer {
      font-family: $display-font;
      font-size: 2.4rem;

      span {
        color: $red;
        font-size: 4.8rem;
      }
    }
  }
}
