.modal-wrapper .modal.bonus {
  background-color: $dark-blue;
}
.secret-bonus {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  img {
    width: 600px;
    max-width: 80vw;
    margin-bottom: 2rem;
  }

  h2 {
    color: $seafoam;
    text-shadow: 0 2px 2px #0006;
    font-family: $display-font;
    font-size: 1.4rem;
    text-align: center;
    @include bp(mid) {
      font-size: 2.4rem;
    }
    @include bp(tablet) {
      font-size: 3.6rem;
    }
  }

  p {
    color: $white;
    text-align: center;

    &.cast {
      color: $seafoam;
      text-shadow: 0 2px 2px #0006;
      font-size: 1.6rem;
      font-weight: 200;
      font-style: italic;
      font-family: $text-font;
      margin-bottom: 1rem;
      @include bp(mid) {
        font-size: 2rem;
      }
    }

    &.prompt {
      font-family: $text-font;
      color: $white;
      font-size: 2.4rem;
      padding: 0 5%;
      line-height: 3rem;
      margin: 2rem 0;
      @include bp(tablet) {
        margin: 3rem 0;
      }
      @include bp(large) {
        margin: 4rem 0;
      }
    }

    &.timer {
      color: $lt-orange;
      font-family: $display-font;
      font-size: 1.6rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      text-shadow: 0 2px 2px #0006;

      span {
        color: $red;
        font-size: 4rem;
        width: 5rem;
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}
