.modal-wrapper .modal.bonus {
  background-color: $dark-blue;
}
.secret-bonus {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 0 2rem;

  img {
    width: 800px;
    max-width: 80vw;
    margin-bottom: 2rem;
  }

  h2 {
    color: $seafoam;
    font-family: $display-font;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    @include bp(mid) {
      font-size: 2.4rem;
    }
    @include bp(tablet) {
      font-size: 3.6rem;
    }
  }

  p {
    color: $white;
    text-align: center;

    &:first-of-type {
      font-size: 1.6rem;
      font-weight: 200;
      font-style: italic;
      font-family: $text-font;
      margin-bottom: 1rem;
      @include bp(mid) {
        font-size: 2rem;
      }
    }

    &.prompt {
      font-family: $text-font;
      font-size: 2.4rem;
      padding: 0 5%;
      line-height: 3.6rem;
      margin-bottom: 4rem;
    }

    &.timer {
      color: $ltblue;
      font-family: $display-font;
      font-size: 1.6rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      span {
        text-shadow: 0 4px 4px #0009;
        color: $red;
        font-size: 4rem;
        width: 5rem;
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}
