@import './readTop3.scss';
@import './dropBank.scss';
@import './dragonBank.scss';
@import './emailCollection.scss';
@import './dropZone.scss';

.voting-page {
  padding: 2rem;

  @media screen and (min-width: $large) {
    padding: 3rem 10%;
  }

  .top-text {
    text-align: center;
    h1,
    h2 {
      font-family: $display-font;
    }
    h1 {
      font-size: 4.8rem;
      color: $white;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 2.4rem;
      color: $red;
      margin-bottom: 1rem;
    }
    p {
      font-family: $text-font;
      font-size: 1.8rem;
      color: $white;
      margin-bottom: 2rem;
      &.instructions {
        font-family: $display-font;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        line-height: 2.8rem;
        .vote {
          font-size: 3.6rem;
        }
        .alt {
          color: $red;
          text-shadow: 0 2px 2px #0005;
        }
        .alt-2 {
          color: $seafoam;
          text-shadow: 0 2px 2px #0005;
        }
      }
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    button {
      @include button($orange);
      margin: 0 2rem;
      font-size: 2.4rem;

      &.small {
        font-size: 1.8rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 1rem 1.5rem;
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
