@import '../../../../styles/index.scss';

.prompt {
  // Layout
  padding: 2.5rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  // Design
  background-color: $brand-blue-6;

  .active-tutorial {
    // Layout
    z-index: 3;
    // Design
    border-radius: 15px;
    background-color: #006dc7;
  }
  > div {
    > h1 {
      // Layout
      text-align: center;
      margin-bottom: 1.6rem;

      // Design
      font-family: $display-font;
      color: $white;
      font-size: 2.4rem;
      line-height: 2.6rem;
    }
    > p {
      // Design
      font-family: $text-font;
      color: $white;
      font-size: 1.8rem;
      line-height: 2.6rem;
      @include bp(tablet) {
        text-align: left;
      }
      // Layout
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }

  .button-wrapper {
    // Layout
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    @include bp(tablet) {
      align-items: center;
    }
    .button {
      width: 100%;
      &.secondary {
        margin-bottom: 1rem;
      }
    }
  }

  .countdown-wrapper {
    // Layout
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .countdown {
      max-width: 24rem;
    }
  }
}
