@import '../../../../styles/index.scss';

.must-login-to-vote {
  h2 {
    // Layout
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    // Design
    font-family: $display-font;
    color: $gray-7;
  }
  .button-wrapper {
    // Layout
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}
