@import '../../../../styles/index.scss';

.account-view .dashboard-content-container {
  // Layout
  padding: 2rem;
  position: relative;
  .success {
    // Design
    background-color: $success;
    font-family: $lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    // Layout
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 22px;
    padding: 0.7rem 0rem;
    position: fixed;
  }
}
