.modal-wrapper .modal.reset-modal {
  background-color: $dark-blue;

  .reset-page-success {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
      font-family: $text-font;
      color: $white;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    button {
      @include button($orange);
    }
  }
}

.reset-password-page {
  @import './resetForms.scss';

  padding: 2rem;
}
