@import '../../../../styles/newIndex.scss';

.empty-form {
  @include safe-zone(420px);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 2rem;

  .button {
    align-self: flex-end;
  }
}
