@import './sidebar.scss';
@import './promptBox.scss';
@import './submissionForm.scss';

.submission-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & > img {
      display: block;
      width: 800px;
      max-width: 100%;
      margin-bottom: 1rem;
      @media screen and (min-width: $tablet) {
        margin-bottom: 2rem;
      }
    }

    .prompt-box {
      margin-bottom: 4rem;
    }
  }
}
