@import '../../../../styles/newIndex.scss';

.confirmation-modal {
  p {
    margin-bottom: 2rem;
    font-family: $display-font;
    color: $gray-7;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}
