.carousel {
  margin-top: 1rem;
  margin-bottom: 2rem;

  .carousel-content {
    border-radius: 5px;

    @import './playWithBlaze.scss';
    @import './socialMediaGuest.scss';
    @import './textWithImageCard.scss';
  }
}
