.play-with-blaze {
  background-color: $jade;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  img {
    max-height: 8rem;
  }
  .bot-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    @include bp(tablet) {
      width: 100%;
      padding: 1rem;
      flex-direction: row;
      justify-content: space-evenly;
      flex-grow: unset;
    }

    img {
      max-height: 15rem;
      @include bp(tablet) {
        max-height: 19rem;
      }
    }
    .buttons {
      margin: 2rem 0 1rem;
      @include bp(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
      }
      a {
        @include button($orange);
        font-size: 1.6rem;
        @include bp(tablet) {
          margin-bottom: 1rem;
          font-size: 2rem;
          width: 100%;
        }
      }
      button {
        display: none;
        @include bp(tablet) {
          display: block;
          margin-bottom: 1rem;
          width: 100%;
        }
        &:first-of-type {
          @include button($blue);
          font-size: 2rem;
        }
        @include button($lt-orange);
        font-size: 2rem;
      }
    }
  }
}
