.social-media-guest {
  background-color: $lt-orange;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    font-family: $display-font;
    color: $white;
    text-shadow: 0 2px 2px #0005;
    font-size: 2rem;

    @include bp(mid) {
      font-size: 3rem;
      margin-top: 0.5rem;
    }
    @include bp(tablet) {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
  }

  .content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      background-color: #fffe;
      @include drop-shadow;
      padding: 2rem 3rem 1rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .top-content {
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @include bp(mid) {
          flex-direction: row;
          margin-bottom: 0;
          justify-content: space-between;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          @include drop-shadow;
          margin-bottom: 1.5rem;
          border-radius: 10rem;
          border: 2px solid $jade;
          overflow: hidden;
          max-width: 10rem;
          max-height: 10rem;
          min-width: 10rem;
          min-height: 10rem;
          @include bp(mid) {
            max-width: 16rem;
            max-height: 16rem;
            min-width: 16rem;
            min-height: 16rem;
            margin-right: 2rem;
          }

          img {
            max-width: 10rem;
            max-height: 10rem;
            min-width: 10rem;
            min-height: 10rem;
            @include bp(mid) {
              max-width: 16rem;
              max-height: 16rem;
              min-width: 16rem;
              min-height: 16rem;
            }
          }
        }

        .welcome {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          p {
            text-align: center;
            font-size: 1rem;
            font-weight: 200;
            font-family: $text-font;
            color: $charcoal;
            font-style: italic;

            @include bp(mid) {
              font-size: 1.4rem;
            }
            @include bp(tablet) {
              font-size: 1.6rem;
            }

            &:not(:last-of-type) {
              margin-bottom: 0.5rem;
              @include bp(mid) {
                margin-bottom: 1.5rem;
              }
            }

            strong {
              font-family: $display-font;
              font-size: 2.4rem;
              color: $red;
              text-shadow: 0 2px 2px #0003;

              @include bp(mid) {
                font-size: 3.2rem;
                line-height: 3.2rem;
              }
              @include bp(tablet) {
                font-size: 3.6rem;
              }
            }

            &.blurb {
              font-size: 1.2rem;
              line-height: 1.5rem;
              font-weight: 300;
              font-style: normal;
              max-width: 250px;
              @include bp(mid) {
                font-size: 1.4rem;
                line-height: 1.6rem;
                margin-top: -0.5rem;
              }
              @include bp(tablet) {
                font-size: 2rem;
                line-height: 2.6rem;
              }
            }
          }
        }
      }
      & > a {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-family: $text-font;
        @include text-button($jade, 10%);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        svg {
          margin-right: 0.3rem;
        }
        span {
          margin-bottom: 2px;
        }

        @include bp(mid) {
          font-size: 1.6rem;
        }
        @include bp(tablet) {
          font-size: 2rem;
        }
      }
    }
  }
}
