.modal-wrapper .modal.activation {
  background-color: $dark-blue;
  .activation-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
      font-size: 2.4rem;
      color: $lt-orange;
      text-shadow: 0 2px 2px #0003;
      margin-bottom: 1.5rem;
      font-family: $display-font;
    }
    p {
      font-size: 1.4rem;
      font-family: $text-font;
      color: $seafoam;
      margin-bottom: 1.5rem;
    }
    h3 {
      font-size: 2rem;
      color: $orange;
      text-shadow: 0 2px 2px #0003;
      font-family: $display-font;
    }
  }
}
