// Home Page
.home-page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  .home-page {
    min-height: -webkit-fill-available;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    & > img {
      max-width: 100%;
      margin-bottom: 1rem;
      max-height: 18vh;
    }

    .dragon-boi {
      margin: auto;
      .dragon {
        max-height: 40vh;
      }
    }

    .how-it-works {
      margin-top: auto;
      display: flex;
      flex-flow: column nowrap;
      img {
        max-height: 7vh;
      }
    }
  }
}
