// Home Page
.home-page-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  .home-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 50px;

    & > img {
      max-width: 100%;
      margin-bottom: 1rem;
      max-height: 18vh;
    }

    .dragon-boi {
      .dragon {
        max-height: 40vh;
      }
    }

    .how-it-works {
      bottom: 6rem;
      color: $white;
      img {
        max-height: 7vh;
      }
    }

    .flex-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      @media screen and (min-width: $mid) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
