// Controls the left-hand splash display on landing page
.landing-splash {
  padding: 3rem;
  background-color: $seafoam;
  flex-grow: 1;

  // Hide the splash on the left until you reach tablet size
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;

    &.flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .text-bubble {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
