.landing-form {
  // Login/Signup Forms
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  @media screen and (min-width: $large) {
    flex-direction: column-reverse;
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    img {
      width: 100%;
    }

    .dragon-boi {
      @media screen and (min-width: $large) {
        position: fixed;
        bottom: 3rem;
        left: 3rem;
      }
    }

    .inputs {
      width: 100%;

      @media screen and (min-width: $mid) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }

      @media screen and (min-width: $large) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      }

      .form-input {
        width: 350px;
        max-width: 100%;

        @media screen and (min-width: $large) {
          width: 33%;
          padding: 1.5rem 1rem;
        }

        // The show/hide password icon
        .eye {
          font-size: 2rem;
        }
      }
    }

    .server-error {
      color: $red;
      font-family: $display-font;
      text-shadow: 0 4px 4px #0005;
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }

    .text.change-form {
      text-align: center;
    }
    .text {
      width: 100%;
      font-size: 1.4rem;
      color: $white;
      font-family: $text-font;
      margin: 0 0 2rem;
      line-height: 2rem;

      a,
      .text-button {
        color: $white;
        transition: all 0.15s ease-in;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: darken($white, 15%);
          transition: all 0.15s ease-in;
        }
      }
    }

    input[type='submit'] {
      @include button($orange);
      margin: 1rem auto;
      font-size: 2.4rem;
    }
  }

  // Modal for Signup
  .modal-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    p {
      color: $charcoal;
      margin-top: 0;
    }
    button {
      @include button($orange);
      margin: 0 auto;
    }
  }
}
