.nav-arrow-button {
  background: none;
  border: none;
  color: $white;
  cursor: pointer;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 3rem;

  @media (min-width: $mid) {
    font-size: 4rem;
  }
}
