.nav-arrow-button {
  position: absolute;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  color: $white;
  font-size: 4rem;

  @media (min-width: $tablet) {
    font-size: 6rem;
  }

  &.left {
    left: -1rem;
  }

  &.right {
    right: -1rem;
  }

  &.up,
  &.down {
    margin: auto;
    left: 0;
    right: 0;
  }

  &.up {
    top: 0rem;
    bottom: auto;
  }

  &.down {
    top: auto;
    bottom: -1rem;
  }
}
