.steps {
  height: 100vh;
  width: 100vw;
  position: relative;

  .circles {
    width: 100%;
    position: absolute;
    bottom: 4rem;
    display: flex;
    justify-content: center;
    opacity: 0.5;

    @media (min-width: $tablet) {
      bottom: 6rem;
    }

    svg {
      color: $white;
      width: 1.2rem;
      height: 1.2rem;

      @media (min-width: $tablet) {
        width: 1.6rem;
        height: 1.6rem;
      }

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  .flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 90vh;
    padding: 2rem 2rem 0;

    img {
      max-width: 100%;
    }

    // Header img
    img:first-of-type {
      max-height: 20vh;
    }

    // Middle img
    img:nth-of-type(2) {
      max-height: 39vh;
      padding: 0 2rem;
    }
  }

  .dragon-boi {
    width: 100vw;

    &.right {
      display: flex;
      justify-content: flex-end;
    }

    img {
      max-height: 30vh;
    }
  }

  [class^="step-"] {
    // this applies to all 'step-#' classes
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .step-1 {
    background: $jade;
  }

  .step-3 {
    background: $seafoam;
  }
}
