.steps {
  height: 100vh;
  width: 100%;
  position: relative;

  h2 {
    padding: 2rem;
    font-size: 4rem;
    color: white;
    font-family: $display-font;
  }

  h3 {
    padding: 2rem;
    font-size: 6rem;
    color: white;
    font-family: $display-font;
    text-align: center;
  }

  .img-center {
    display: block;
    margin: 0 auto 4rem;
  }

  .circles {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;

    & svg {
      color: white;
      width: 4rem;
      height: 4rem;
    }
  }

  [class^="step-"] {
    // this applies to all 'step-#' classes
    height: 100vh;
  }

  .step-1 {
    background: $jade;

    .dragon-boi {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }
  }

  .step-2 {
    .dragon-boi {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      transform: scaleX(-1);
    }
  }

  .step-3 {
    background: $seafoam;

    .dragon-boi {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }
  }
}
