.voting-info {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 90vh;
    padding: 2rem 2rem 0;

    img {
      max-width: 100%;
    }

    // Header img
    img:first-of-type {
      max-height: 20vh;
    }

    // Middle img
    img:nth-of-type(2) {
      max-height: 39vh;
    }
  }

  .dragon-boi {
    visibility: hidden;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    @media (min-width: $tablet) {
      visibility: unset;
    }

    img {
      min-height: 20vh;
      max-height: 40vh;
    }
  }

  .button-container {
    text-align: center;
    margin: 2rem auto;

    .link-button {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      a {
        @include button($orange, $padding: 1rem 5rem 0.8rem);
        text-decoration: none;
        font-size: 3.0rem;
      }
    }
  }
}
