.dashboard {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .content {
    flex-grow: 1;
  }

  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    padding: 5vh;
    width: 50rem;
    max-width: 25vw;
    background-color: $seafoam;

    .sub-card {
      margin-bottom: 5vh;
    }
  }
}
