.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .content {
    flex-grow: 1;
    padding: 2rem;
  }

  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: $seafoam;

    h2 {
      font-family: $display-font;
      color: $white;
      font-size: 2.4rem;
      padding: 1rem 2rem 0;
      text-align: center;
    }

    .story-list {
      min-width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-content: flex-start;
      overflow-x: scroll;
      padding: 1rem 2rem;

      .sub-card {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
        img {
          width: 10rem;
          max-width: unset;
        }
      }
    }
  }
}

.prompt-box {
  background-color: $white;
  padding: 2rem;
  color: $charcoal;
  box-shadow: 0 4px 4px #000;

  h2 {
    color: $orange;
    font-size: 3.6rem;
    font-family: $display-font;
    margin-bottom: 2rem;
  }

  h3 {
    font-family: $display-font;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    @include paragraph(1.8rem);
    margin: 0 1rem;
    text-align: center;
  }

  .prompt-footer {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .streak {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      h3 {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
    button {
      @include button($blue);
      font-size: 2.4rem;
    }
  }
}
