.closed-page {
  padding: 1rem;

  .countdown-closed-component {
    h2 {
      text-shadow: 0 2px 2px #0003;
    }
    .begins {
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;
      text-shadow: 0 2px 2px #0002;
    }
    .check-back {
      font-family: $display-font;
      color: $blue;
      font-size: 2.4rem;
      text-shadow: 0 2px 2px #0003;
    }
  }
}
