// Import Styles for DragonBoi
@import './landingElements.scss';

.landing-page {
  min-height: 100vh;
  background-color: $dark-blue;
  display: flex;
  flex-flow: column nowrap;

  // Header
  .landing-header {
    background-color: $orange;
    padding: 1rem 2rem;
    color: $white;

    h2 {
      font-family: $display-font;
      font-size: 2.4rem;
    }

    svg {
      font-size: 2.4rem;
      cursor: pointer;
      color: $white;
      transition: all 0.15s ease-in;
      &:hover {
        transition: all 0.15s ease-in;
        color: darken($white, 10%);
      }
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
  }

  // Nav Menu Styling/Animation
  .nav-menu {
    height: 0;
    position: relative;
    z-index: 2;

    // Make the body element (element immediately after nav) fill the screen
    & + div {
      flex-grow: 1;
    }

    .menu-container {
      // Use these for spacing to maintain animation
      $font-size: 1.7rem; // font size
      $vertical-padding: 1rem; // space between menu items
      $menu-item-count: 4; // number of items in menu

      position: absolute;
      bottom: auto;
      top: 0;
      right: 0;
      transition: all 0.5s ease-in-out;
      &.hidden {
        // Uses the variables to calculate position for animation
        top: -2 * $menu-item-count * $vertical-padding - $menu-item-count *
          $font-size - 0.2rem; // the extra .0 is for visual consistency
        transition: all 0.5s ease-in-out;
      }

      display: flex;
      flex-flow: column nowrap;
      border-radius: 0 0 0 4px;
      overflow: hidden;

      .menu-item a {
        font-family: $text-font;
        font-size: $font-size;
        line-height: $font-size - 0.2rem;
        font-weight: 500;
        display: block;
        color: $white;
        text-decoration: none;
        padding: $vertical-padding 2rem;
        transition: all 0.2s ease-in-out;
        background-color: $orange;
        text-align: center;

        &:hover {
          cursor: pointer;
          background-color: darken($orange, 10%);
          transition: all 0.2s ease-in-out;
        }

        &:last-of-type {
          padding-bottom: $vertical-padding + 0.2rem;
        }
      }
    }
  }

  // Page Styling
  h1 {
    font-family: $display-font;
    color: $white;
    font-size: 3.6rem;
    text-align: center;
  }

  p {
    margin: 2rem auto;
    font-family: $text-font;
    color: $white;
    font-size: 1.8rem;
    line-height: 2.5rem;
    a {
      color: $white;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken($white, 15%);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  // Home Page
  .home-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 3rem 2rem;

    & > div {
      max-width: 800px;
      width: 100%;
    }

    .flex-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      @media screen and (min-width: $mid) {
        flex-direction: row;
        justify-content: space-between;
      }

      .links {
        display: flex;
        flex-flow: column nowrap;
        max-width: 330px;
        width: 100%;

        p {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          margin: 3rem 0;
          width: 100%;

          a {
            color: $white;
            font-size: 3.6rem;
            font-family: $display-font;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: darken($white, 15%);
              transition: all 0.2s ease-in-out;
            }
          }
        }

        .learn-more {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          a {
            @include button($jade, $padding: 1rem 5rem 0.8rem);
            text-decoration: none;
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  // Info Page
  .info-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    .info-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;

      p {
        max-width: 400px;
        font-weight: 300;
        .title {
          font-weight: 400;
          color: $orange;
        }
      }
      a {
        @include button($orange);
        font-size: 2.4rem;
      }
    }
  }
}
