.controls {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  background-color: #000;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: $white;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.15s ease-in;
    &:hover {
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
  }
  p {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.7rem;
    color: $white;
    font-weight: 800;
    line-height: 1.3em;
    font-family: $lato;
  }
  .bottom-controls {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    button {
      font-size: 5vh;
      height: 5vh;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}
