.info {
  &.hidden {
    display: none;
  }
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background-color: #000a;
  width: 100%;
  padding: 0.5rem 1rem 1rem;

  p {
    text-align: center;
    color: $white;
    font-family: $text-font;
    font-weight: 300;
    letter-spacing: 0.04rem;
  }
}
